<div>
  <h1 class="center-align">3D Environments</h1>
  <div class="col s12 m6 right-align">
    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn-large modal-trigger rounded" href="#Upl-Env">Upload Environment</a>

    <!-- Modal Structure -->
    <div id="Upl-Env" class="modal ">
      <div class="modal-footer">
      </div>

      <div class="modal-content container p-3 mb-2 bg-secondary text-white"">
        <h2 class="center-align">Environment</h2>
      </div>


      <div class="modal-content container ">
        <div class="row">
          <div class="col s3">
            <p class=" left-align">Environment Name: </p>
          </div>
          <div class="col s3">
            <input type="text" class="form-control border border-dark rounded" id="input1" placeholder=" Text">
          </div>
          <div class="col s3">
            <a class="waves-effect waves-light btn-large modal-trigger rounded-circle" href="#">Upload Environment</a>
          </div>
          <div class="col s3"></div>
        </div>
      </div>

      <div class="modal-content container">
        <div class="row">
          <div class="col s1">
            <h5 class="left-align">Position </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
          <div class="col s3">
            <h5 class="left-align">Scale </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
          <div class="col s3">
            <h5 class="left-align">Rotation </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>

          <div class="section center-align">
            <a href="#!" class="waves-effect waves-light btn-large modal-trigger rounded">Save</a>
          </div>

        </div>

      </div>

      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>



<div>
  <h1 class="center-align">3D Models</h1>
  <div class="col s12 m6 right-align">

    <!-- Modal Trigger -->
    <a class="waves-effect waves-light btn-large modal-trigger" href="#Upl-Mdl">Upload 3D Models</a>

    <!-- Modal Structure -->
    <div id="Upl-Mdl" class="modal ">
      <div class="modal-footer">
      </div>

      <div class="modal-content container p-3 mb-2 bg-secondary text-white"">
        <h2 class="center-align">3D Object</h2>
      </div>


      <div class="modal-content container ">
        <div class="row">
          <div class="col s3">
            <p class=" left-align">Model Name: </p>
          </div>
          <div class="col s3">
            <input type="text" class="form-control border border-dark rounded" id="input1" placeholder=" Text">
          </div>
          <div class="col s3">
            <a class="waves-effect waves-light btn-large modal-trigger rounded-circle" href="#">Upload Model</a>
          </div>
          <div class="col s3"></div>
        </div>
      </div>

      <div class="modal-content container">
        <div class="row">
          <div class="col s1">
            <h5 class="left-align">Position </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
          <div class="col s3">
            <h5 class="left-align">Scale </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>
          <div class="col s3">
            <h5 class="left-align">Rotation </h5>
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" X cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Y cordinates">
            <input id="first_name" type="text" class="validate border border-dark rounded" placeholder=" Z cordinates">
          </div>

          <div class="section center-align">
            <a href="#!" class="waves-effect waves-light btn-large modal-trigger rounded">Save</a>
          </div>

        </div>

      </div>

      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems);
  });
</script>