<div>
  <h2 class="center-align">Edits Selected Environment & Models</h2>
  <div class="section"></div>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <img src="/images/foresthouse.png" alt="foresthouse" />
          <span class="card-title">Forest house</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-lg btn-block" style="margin-bottom:10px; margin-top:70px"
        href="#">Edit</button>
      <button class="btn btn-primary btn-lg btn-block" style="margin-bottom:10px" href="#">Delete</button>
      <button class="btn btn-primary btn-lg btn-block" style="margin-bottom:10px" href="#">Select from list</button>
    </div>
    <div class="border-top my-3">
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-image">
          <img src="/images/miami_thumb.png" alt="Miami" />
        <span class="card-title">Miami</span>
        </div>
      </div>
      <div>
        <button class="btn btn-primary btn-lg" style="margin-left:90px; margin-top:40px" href="#">Edit</button>
        <button class="btn btn-primary btn-lg" style="margin-left:90px; margin-top:40px" href="#">Delete</button>
      </div>
    </div>
  </div>
</div>