<div class="result">

</div>
<script>
    $.get( "http://localhost:3001/api", function( data ) {

  let myData = data.data
  console.log(myData)
  myData.forEach(element => {
      $('.result').append(`<button id="mybutton">${element._id}</button>`)
        $('.result').append(`<p>${element.environmentCreator}</p>`)
  });
});

$('#mybutton').click(function(){
    
})
</script>