<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
/>

<!-- Materialize icons-->
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<link href="/styles.css" rel="stylesheet" type="text/css" />

<div class="container" id="centre">
  <p>Hello</p>
</div>

<script>
  $(document).ready(function () {
    $(".sidenav").sidenav();
  });
</script>
