<div class="row">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="/images/foresthouse.png" alt="foresthouse" />
        <span class="card-title">Forest house</span>
      </div>
      <div class="card-content">
        <div class="row">
          <div class="col s12 m6 center-align"><a class="waves-effect waves-light btn-large"
              href="/api/editEnvironment">Edit</a></div>
          <div class="col s12 m6 center-align"><a class="waves-effect waves-light btn-large "
              href="/api/environments">Load</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="/images/miami_thumb.png" alt="Miami" />
        <span class="card-title">Miami</span>
      </div>
      <div class="card-content">
        <div class="row">
            <div class="col s12 m6 center-align"><a class="waves-effect waves-light btn-large ">Edit</a></div>
            <div class="col s12 m6 center-align"><a class="waves-effect waves-light btn-large " href="/api/miami">Load</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m6">
    <div class="card">
      <div class="card-image">
        <img src="/images/360waterfall.png" alt="foresthouse" />
        <span class="card-title">Waterfall 360 video</span>
      </div>
      <div class="card-content">
        <div class="row">
            <div class="col s12 m6 center-align"><a class="waves-effect waves-light btn-large ">Edit</a></div>
            <div class="col s12 m6 center-align"><a class="waves-effect waves-light btn-large " href="/api/360video">Load</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".modal");
    var instances = M.Modal.init(elems);
  });
</script>
