<script src="https://unpkg.com/aframe-environment-component@1.2.0/dist/aframe-environment-component.min.js"></script>
<div id="replace" class="row">
  <% records.forEach(function(record){ %> <%-
  include("./partials/environmentCard.ejs",{record:record}) %> <% }) %>
</div>

<script>
      const createWorld=function(environment,options){
        
        console.log(environment)
        console.log(options)

        if(!(options.panorama)){
          
          let aVideo=$(`<video id="video"
             autoplay loop
             crossorigin="anonymous"
             playsinline webkit-playsinline
             src="${options.video}">
      </video>`)
      $("#assets").append(aVideo);

      let aVideoSphere =$(`<a-videosphere
      rotation="0 -90 0" src="#video"
      play-on-click>
    </a-videosphere>`)
      $("#mainScene").append(aVideoSphere)

        }
         /* global AFRAME */
AFRAME.registerComponent('play-on-click', {
  init: function () {
    this.onClick = this.onClick.bind(this);
  },
  play: function () {
    window.addEventListener('click', this.onClick);
  },
  pause: function () {
    window.removeEventListener('click', this.onClick);
  },
  onClick: function (evt) {
    var videoEl = this.el.getAttribute('material').src;
    if (!videoEl) { return; }
    this.el.object3D.visible = true;
    videoEl.play();
  }
});

        }

      const records =<%- JSON.stringify(records)%>;

      console.log(typeof records[0]._id)
      $(document).on('click',".waves-effect.waves-light.btn",function(){

        let id = $(this).attr('id');


        const isFound=(record)=>{
          return record._id === id;
        }
       let env = records.find(isFound);

       


        $( "#replace" ).replaceWith( '<a-scene id="mainScene" background="color:black" >'+
                                     '<a-assets id="assets"> </a-assets>'+
                                     '</a-scene>' );

                                     createWorld(env,env.environmentOptions)




      })
</script>
