nav{
  z-index: 7;
}
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  
  flex: 1 0 auto;
  /* background-color: #009688; */
  

}
footer {
  position: relative;

  /* negative value of footer height */
  height: 20hv;
  clear: both;
}
#mainScene{
  min-height: 50vh;
}